<div id="container">
    <div id="hero-container">
        <div class="hero">
            <div class="hero-info">
                <h1>Pingo</h1>
            </div>
            <div class="hero-form">
                <button class="btn">Sign in</button>
                <button class="btn">Log in</button>
            </div>
        </div>
    </div>
    <div>
        <input type="text" [(ngModel)]="from"/>
        <input type="text" [(ngModel)]="text"/>
        <button (click)="sendMessage()">Send</button>
    </div>
    
</div>