<div class="max-w-full min-h-full my-auto text-center flex flex-col flex-wrap justify-center items-center gap-5">
    <h1 class="text-5xl font-bold">Your grids :</h1>
    <a class="btn btn-primary flex-grow-0" routerLink="create_grid">Create new Bingo Grid</a>
    <div class="grid xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1 gap-4">
        <div *ngFor="let gridInfo of gridList; index as i" class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title">{{gridInfo.name}}</h2>
                <div class="card-actions justify-end">
                    <a class="btn btn-primary" [routerLink]="'/play/'+gridInfo.urlCode">See</a>
                    <button class="btn btn-error" (click)="onGridDeleteClick(gridInfo.urlCode, i)">Delete</button>
                </div>
            </div>
        </div>

    </div>
</div>