<div class="hero min-h-full bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-area text-center lg:text-left">
      <h1 class="text-5xl font-bold">Register now !</h1>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
        <div class="form-control">
          <label class="label" for="username">Username :</label>
          <input id="username" type="text" formControlName="username" class="input input-bordered" />
        </div>

        <div class="form-control">
          <label class="label" for="email">Email :</label>
          <input id="email" type="text" formControlName="email" class="input input-bordered" />
        </div>

        <div class="form-control">
          <label class="label" for="password">Password :</label>
          <input id="password" type="password" formControlName="password" class="input input-bordered" />
        </div>
        <div class="form-control">
          <label class="label" for="password_confirmation">Password Confirmation :</label>
          <input id="password_confirmation" type="password" formControlName="password_confirmation"
            class="input input-bordered" />
        </div>
        <div class="form-control mt-6">
          <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" i18n>Register</button>
        </div>
      </form>
    </div>
  </div>
</div>