<body class="min-h-screen flex flex-col">

    <nav class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl">Pingo</a>
        </div>
        <div class="flex-none">
            <h2 class="mr-2">{{ data.authUser.body.username }}</h2>
            <a class="btn btn-error" (click)="onDisconnectClick()">Disconnect</a>
        </div>
    </nav>

    <main class="flex flex-col bg-base-200">
        <div>
            <router-outlet></router-outlet>
        </div>
    </main>
</body>